body {
    margin: 0;
    padding: 0;
    font-size: 18px
  }
  
  .container{
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 450px;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
    color: #0099ff;
    margin-bottom: 20px;
  }

  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 1000px; /* 이미지 최대 너비 지정 */
  }
  
  @media (max-width: 768px) {
    .responsive-image {
      max-width: 500px; /* 화면 너비가 768px 이하인 경우 이미지 최대 너비를 500px로 조정 */
    }
  }
